@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap');
body {
  font-family: 'Josefin Sans', sans-serif;
}
body h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 10px;
  border-bottom: 5px solid #000000;
  display: inline-block;
  margin-bottom: 10px;
}
header {
  background-color: #b0eed1;
  height: 100px;
  /******Hamburger Menu ENDS***
        */
}
header .menu-img img {
  width: 100%;
  max-width: 10rem;
  padding-top: .75rem;
}
header .desktop-menu {
  display: none;
}
header .hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 15px 35px 0px 15px;
  color: #999;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
header .cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 15px 35px 0px 15px;
  color: #999;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
header .menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f2dbee;
  position: absolute;
  text-align: center;
  font-size: 12px;
}
header .menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
header .menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
header .menu li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
header .menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #666;
}
header .menu ul li a:hover {
  color: #666;
  text-decoration: none;
}
header .menu a {
  text-decoration: none;
  color: #666;
}
header .menu a:hover {
  text-decoration: none;
  color: #666;
}
main img {
  width: 100%;
}
main .jumbotron {
  background: url("../images/bg-image.png") no-repeat center center;
  background-size: 100%;
}
main article {
  padding: 50px 0;
}
main article p {
  margin-top: 10px;
}
main .trainers-hero-imgs {
  padding: 10px 0px 10px 0px;
}
main .trainers-hero-imgs img {
  max-width: 300px;
}
main .image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
main .image-stack .image-stack-item-bottom {
  grid-column-start: 4;
  grid-column-end: -1;
  grid-row: 1;
}
main .image-stack .image-stack-item-top {
  grid-column: 1 / span 8;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
}
footer {
  background-color: #f2dbee;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
footer img {
  width: 35vw;
  max-width: 100px;
}
footer p {
  margin: 0;
  font-size: .8rem;
}
@media (min-width: 1000px) {
  header .menu,
  header .hamburger,
  header .cross {
    display: none;
  }
  header .menu-img {
    display: none;
  }
  header .desktop-menu {
    display: flex;
    text-align: right;
    text-transform: uppercase;
    padding-top: 16px;
  }
  header .desktop-menu .header-row {
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  header .desktop-menu img {
    max-width: 200px;
  }
  header .desktop-menu .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 7px;
  }
  header .desktop-menu ul li {
    display: inline;
    padding-left: 30px;
    font-size: 15px;
  }
}
