@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap');
body {
  font-family: 'Josefin Sans', sans-serif;
}
body h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 10px 0;
  border-bottom: 5px solid #000000;
  display: inline-block;
  margin: 10px 0;
}
header {
  background-color: #b0eed1;
  height: 100px;
  /******Hamburger Menu ENDS***
        */
}
header .menu-img img {
  width: 100%;
  max-width: 10rem;
  padding-top: .75rem;
}
header .desktop-menu {
  display: none;
}
header .desktop-menu a {
  color: #000000;
}
header .desktop-menu a:hover {
  color: #78d4a7;
  text-decoration: none;
}
header .hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 15px 35px 0px 15px;
  color: #999;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
header .cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 15px 35px 0px 15px;
  color: #999;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
header .menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f2dbee;
  position: absolute;
  text-align: center;
  font-size: 12px;
}
header .menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
header .menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
header .menu li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
header .menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #666;
}
header .menu ul li a:hover {
  color: #666;
  text-decoration: none;
}
header .menu a {
  text-decoration: none;
  color: #666;
}
header .menu a:hover {
  text-decoration: none;
  color: #666;
}
main {
  /* form styles */
}
main img {
  width: 100%;
}
main .jumbotron {
  background: url("../images/bg-image.png") no-repeat center center;
  background-size: cover;
}
main .hero-images {
  text-align: center;
}
main .hero-images img {
  width: 75%;
  height: 30vh;
  margin: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main article {
  padding: 25px 0;
}
main article p {
  margin-top: 10px;
}
main .trainers-hero-imgs {
  padding: 10px 0px 10px 0px;
  justify-items: center;
}
main .trainers-hero-imgs img {
  max-width: 300px;
}
main .image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
main .image-stack .image-stack-item-bottom {
  grid-column-start: 4;
  grid-column-end: -1;
  grid-row: 1;
}
main .image-stack .image-stack-item-top {
  grid-column: 1 / span 8;
  grid-row: 1;
  padding-top: 10%;
  z-index: 1;
}
main .trainers-hero-text h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main .trainers-hero-text p {
  font-size: 15px;
}
main .trainers-profiles {
  margin-bottom: 15px;
}
main .trainers-profiles img {
  margin: 15px 0px 15px 0px;
  max-width: 200px;
  border: 1px solid #868686;
  border-radius: 4.5px;
}
main .trainers-profiles h3 {
  margin-bottom: -2px;
  text-align: center;
}
main .trainers-profiles h5 {
  font-weight: 700;
  padding-top: 5px;
}
main .trainers-profiles p {
  font-size: 14px;
}
main .trainers-profiles .trainers-pink {
  background-color: #f2dbee;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .trainers-profiles .trainers-green {
  background-color: #b0eed1;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main #bootstrap-overrides .accordion .card .card-header {
  background-color: red;
}
main .contact-form .label_input_wrap {
  display: block;
  padding-bottom: 5px;
}
main .contact-form .submit input {
  text-transform: uppercase;
  padding: 8px 25px;
  background-color: #f2dbee;
  border: 2px solid #f2dbee;
  color: #000000;
  margin: 20px 0;
  font-size: 1rem;
}
main .contact-form .submit input:hover {
  background: none;
  border: 2px solid #000000;
  color: #000000;
}
main .contact-form input,
main .contact-form textarea {
  padding: 8px 10px;
  border: 2px solid #000000;
}
main .contact-form .form-field {
  width: 100%;
}
main .contact-form .input-section {
  padding: 10px;
}
main .about-img {
  max-width: 420px;
  border: 5px solid #000000;
  margin: 0 auto;
  height: 430px;
  position: relative;
  margin-bottom: 30px;
}
main .about-img .left-img {
  width: 85%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
}
main .about-img .left-bg {
  width: 85%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
}
main .about-img .right-img {
  width: 85%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
}
main .about-img .right-bg {
  width: 85%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}
footer {
  background-color: #f2dbee;
}
footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  text-align: center;
}
footer img {
  width: 35vw;
  max-width: 100px;
}
footer p {
  margin: 0;
  font-size: .8rem;
}
@media (min-width: 400px) {
  main .about-img {
    height: 535px;
  }
}
@media (min-width: 430px) {
  main .trainers-profiles img {
    margin: 15px 4px 15px 4px;
  }
  main .trainers-profiles h5 {
    padding-top: 0px;
  }
  main .trainers-profiles p {
    margin: 2px 3px 0px 3px;
  }
  main .trainers-profiles .trainers-classes {
    margin-bottom: 15px;
  }
}
@media (min-width: 440px) {
  main .trainers-profiles img {
    max-width: 150px;
    margin: 15px 30px 15px 7px;
  }
  main .trainers-profiles .trainers-names {
    margin-top: 15px;
  }
  main .trainers-profiles .trainers-names ul {
    padding-left: 40px;
  }
}
@media (min-width: 576px) {
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 600px) {
  main .trainers-profiles .trainers-names {
    margin-right: 2px;
  }
}
@media (min-width: 610px) and (max-width: 645px) {
  main .trainers-profiles .trainers-names {
    margin-right: 55px;
  }
}
@media (min-width: 646px) {
  main .trainers-profiles p,
  main .trainers-profiles ul {
    font-size: .8rem;
  }
  main .trainers-profiles .trainers-classes {
    margin: 15px 0px 0px 35px;
  }
}
@media (min-width: 700px) {
  main .trainers-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .trainers-hero .trainers-hero-imgs {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .trainers-hero .trainers-hero-text {
    max-width: 400px;
    font-size: 1rem;
    padding-top: 20px;
    padding-right: 8px;
  }
  main .trainers-hero .trainers-hero-text h2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  body h2 {
    margin-top: 0;
    padding-top: 0;
  }
  main .hero-images img {
    width: 100%;
    height: auto;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main article {
    padding: 50px 0;
  }
  main .contact-form .form-field {
    width: 50%;
  }
  footer .footer-content {
    text-align: left;
  }
}
@media (min-width: 1000px) {
  header .menu,
  header .hamburger,
  header .cross {
    display: none;
  }
  header .menu-img {
    display: none;
  }
  header .desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    text-transform: uppercase;
    padding-top: 16px;
    max-width: 1200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  header .desktop-menu img {
    max-width: 200px;
  }
  header .desktop-menu .desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 7px;
  }
  header .desktop-menu ul {
    padding-right: 10px;
  }
  header .desktop-menu ul li {
    display: inline;
    padding-left: 30px;
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  main .trainers-hero {
    max-width: 1000px;
  }
}
