@import 'variables';
@import 'mixins';

body {
    font-family: @josefin;
}

header {
    background-color: @lt-green;
    height: 100px;
    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    img {
        width: 100%;
        max-width: 210px;
    }
    ul {
        li {
            display: inline;
            padding-left: 30px;
            font-size: 20px;
        }
    }
    .desktop-nav {
        text-align: right;
        text-transform: uppercase;
    }
}

main {
    img {
        width: 100%;
    }
    .jumbotron {
        background: url("../images/bg-image.png") no-repeat center center; 
        background-size: 100%;
    }
}

footer {
    background-color: @pink;
}