@import 'variables';
@import 'mixins';

body {
    font-family: @josefin;
    h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        padding-bottom: 10px;
        border-bottom: 5px solid @black;
        display: inline-block;
        margin-bottom: 10px;
    }
}

header {
    background-color: @lt-green;
    height: 100px;
    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    img {
        width: 100%;
        max-width: 210px;
    }
    ul {
        li {
            display: inline;
            padding-left: 30px;
            font-size: 15px;
        }
    }
    .desktop-nav {
        text-align: right;
        text-transform: uppercase;
        padding-top: 16px;
    }
}

main {
    img {
        width: 100%;
    }
    .jumbotron {
        background: url("../images/bg-image.png") no-repeat center center; 
        background-size: 100%;
    }
    article {
        padding: 50px 0;
        p {
            margin-top:10px;
        }
    }
}

footer {
    background-color: @pink;
    img {
        width: 100%;
    }
    p {
        margin:0;
    }
}

.footer-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px
}